.bash_history
.bash_logout
.bashrc
.profile
.gitconfig
.lesshst
.local/
.cache/
.ssh/
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.cursor/
.gitconfig
.lesshst
.local/
.pki/
.profile
.ssh/
Cursor.AppImage
.bash_history
.bash_logout
.bashrc
.profile
.local/
.cache/
.ssh/
node_modules/
